<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div>
                <img class="detail__image" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                <h2 class="product__price">$ <%= product.price %></h2>
                <p class="product__description"><%= product.description %></p>
                <form action="/cart">
                    <button type="submit" class="btn">Add to cart</button>
                </form>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>